@font-face {
    font-family: freshLychee;
    src: url(fonts/Fresh\ Lychee.ttf);
}
@font-face {
    font-family: manropeExBold;
    src: url(fonts/manrope-extrabold.otf);
}
@font-face {
    font-family: manropeBold;
    src: url(fonts/manrope-bold.otf);
}


.container > div {
    background: rgba(0,0,0, 0.1);
    padding: 1em;
    box-shadow: 0 25px 45px rgba(0,0,0, 0.1);
     /**
    border: 1px solid rgba(255, 255 ,255, 0.5);
   
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    **/
    z-index: 10;
    backdrop-filter: blur(25px);
    font-family: 'manropeBold', sans-serif;
    transition: 0.5s;
    border-radius: 10px;
}

.container > div:hover {
    box-shadow: -15px 30px 50px rgba(0,0,0, 0.5);
    transform: scale(1) translateY(-10px);
    z-index: 1000;
}

.container {
    display: grid;
    grid-template-columns: 40% 30%;
    grid-gap: 1em;
  
    
    
}



.body {
    background-color: rgb(168, 168, 151);
}
.white-text {
    color: white;
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    margin-left: 30px;
}


.title {
font-family: 'manropeExBold';
background-image: linear-gradient(90deg, rgb(3, 2, 3),rgb(67, 67, 75));
background-size: 0% 3px;
background-repeat: no-repeat;
background-position: left bottom;
font-size: 50px;
transition: background-size 300ms ease;
 text-align: center;
border-radius: 4px;
background-color: beige;
color: rgb(142, 111, 148);
box-shadow: 0 10px 10px rgba(0,0,0, 0.1);
text-shadow: 0 10px 10px rgba(0,0,0, 0.1);


}
.title:hover {
background-size: 100% 3px;

}
    
img.zhongli {
    width: 75px;
    
  
    float: left;
    margin-right: 5px;
    
  }




.bio_image {
border-radius: 8px;
width: 100px;
box-shadow: 0 10px 10px rgba(0,0,0, 0.1);
}

[data-tooltip] {
    position: relative;
    cursor: default;
}

[data-tooltip]::after {
    position: absolute;
    width: 70px;
    left: calc(50% - 35px);

    bottom: 125%;
    text-align: center;
    box-sizing: border-box;
    color: white;
    background-color: black;
    padding: 8px;
    font-size: 0.4em;
    font-family: 'manropeBold';
    font-weight: bold;
    border-radius: 10px;
    content: attr(data-tooltip);

    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.2s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.button {
    display: inline-flex;
    height: 50px;
    padding: 0;
    background:lavender;
    border: 0;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    font-family: 'manropeBold', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
margin: 8px;
box-shadow: 0 10px 10px rgba(0,0,0, 0.1);
opacity: 1;
transition: 0.3s;
    
}
.button:hover {
    background: rgb(221, 221, 236);
    transform: translateY(-5px)
    
}
.button:active {
    background: rgb(139, 139, 209)
}

.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: black;
  opacity: 1;
  height: 45px;
}
.button__icon {
  font-size: 1.5em;
}

